* {
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: #D0E4FF;
  color: #2D517F;
  padding: 10px;
}

.main-title {
  padding-top: 10px;
  background-color: #2D517F;
  color: #6B747F;
  border-bottom: 2px solid #6B747F;
}

a {
  text-decoration: none;
}

a:hover {
  color: #6B747F;
}

.post-list {
  padding: 5px; 
}

#new-post {
  display: block;
  width: 140px;
  outline: 2px dashed #6B747F
}